@{
    ViewBag.Title = "AddNotice";
}
<div id="w_AddNotice" class="easyui-window" title="添加公告"
     style="width: 680px; height: 340px; overflow: hidden;">
    <div class="easyui-layout" id="w_layout" style="width: 100%; height: 100%;">
        <div region="center" border="false" style="text-align: center;">
            <form id="gg" method="post">
                <table>
                    <tr>
                        <td>标题</td>
                        <td align="left">
                            <input id="n_title" class="easyui-textbox" name="NoticeTitle" validtype="maxLength[200]" data-options="required:true" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td align="left" valign="top">
                            <textarea name="NoticeContent" id="n_content" validtype="maxLength[2000]" data-options="required:true" cols="70" rows="10" style="width: 100%; height: 100%"></textarea>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="Id" value="-1"></input>
                <input type="hidden" name="NoticeType" value="0"></input>
                <input type="hidden" name="NoticeStatus" value="0"></input>
                <input type="hidden" name="NoticeAddDate" value="1900-01-01"></input>
                <input type="hidden" name="NoticeRealseAccount" value=""></input>
            </form>
        </div>
        <div region="south" style="height: 30px; text-align: center;">
            <input type="hidden" id="n_Id" value="-1" />
            <a id="btnAdd" href="javascript:void()" class="easyui-linkbutton" iconcls="icon-save" data-bind="click: $root.AddEditNotice">新增</a>

            <a id="w_Close" href="javascript:void()" class="easyui-linkbutton" iconcls="icon-cancel" data-bind="click: $root.closeNotice">关闭</a>
        </div>
    </div>
</div>
@section scripts
{   
    <script src="~/Scripts/Js/js_Validate.js"></script>
}