@{
    ViewBag.Title = "Top";
}
<div scroll="no" style="overflow: hidden; height: 60px; line-height: 20px; font-family: Verdana, 微软雅黑,黑体; background: #2D6492; ">
    <div class="top">
        <a href="###" class="top_logo"></a>
        <ul class="top_info">
            <li><a href="###" id="editpass" class="edit_pwd">修改密码</a></li>
            <li><a href="###" id="loginOut" class="exit">安全退出</a></li>
        </ul>
    </div>
</div>

