<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--DataApi地址,最后不要加“/”,否则报错-->
    <add key="DataApiUrl" value="http://localhost:8500"/>
    
    <!--自动还款每天执行时间(小时比如2:标示每天凌晨两点执行)-->
    <add key="PrincipalBeginHour" value="3"/>
    <!--还款线程刷新时间(单位：分钟。20表示每隔20分钟刷新一次)-->
    <add key="PrincipalSteep" value="20"/>

    <!--自动结息每天执行时间(小时比如2:标示每天凌晨两点执行)-->
    <add key="BearBeginHour" value="2"/>
    <!--还款结息刷新时间(单位：分钟。20表示每隔20分钟刷新一次)-->
    <add key="BearSteep" value="20"/>
    
    <!--自动扫描刷新时间(单位：分钟。5表示每隔5分钟刷新一次)-->
    <add key="ScanSteep" value="5"/>
  </appSettings>
</configuration>
