@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .search m_left {
        float: left;
        padding-left: 20px;
        width: 60px;
        text-align: right;
    }
</style>
<div class="easyui-layout" data-options="fit:true">
    <div class="tableShow" id="mainContent" data-options="region:'center',border:0">
        <div id="toolbar" style="padding: 5px 1px;">
            <table>
                <tr>
                    <td>
                        <div style="clear: both;">
                            <div class="search">
                                账号:<input type="text" id="loginAccount" style="width: 100px;" class="easyui-textbox" data-bind="value: $root.model.searchForm.loginAccount" />
                                姓名:<input type="text" id="realName" style="width: 100px;" class="easyui-textbox" data-bind="value: $root.model.searchForm.realName" />

                                身份证号:<input type="text" id="idNumber" style="width: 100px;" class="easyui-textbox" data-bind="value: $root.model.searchForm.idNumber" />
                                邮箱:<input type="text" id="userEmail" style="width: 100px;" class="easyui-textbox" data-bind="value: $root.model.searchForm.userEmail" />

                                账号状态:<select id="selState" class="easyui-combobox" name="selState" style="width: 100px;">
                                    <option value="">---账号状态---</option>
                                    <option value="1">启用</option>
                                    <option value="2">禁用</option>
                                </select>
                                <p>&nbsp;</p>
                                注册日期：<input type="text" id="startdate" class="easyui-datebox" style="width: 100px;" data-bind="value: $root.model.searchForm.startDate" />-
                                <input type="text" id="enddate" class="easyui-datebox" style="width: 100px;" data-bind="value: $root.model.searchForm.endDate" />

                            </div>
                        </div>
                    </td>
                    <td style=" text-align: center; vertical-align: bottom;">
                        <a id="btnSearch" href="javascript:void()" class="easyui-linkbutton" style="width:100px;" data-options="iconCls:'icon-search'" data-bind="click:$root.searchClick">查询</a>
                        <a id="btnAdd" href="javascript:void()" class="easyui-linkbutton" style="width:100px;" data-options="iconCls:'icon-add'" data-bind="click: $root.showAddUsers()">新增业务员</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <table id="dg" class="easyui-datagrid" data-optins="checkOnSelect:true">
        <thead data-options="frozen:true">
            <tr>
                @*<th data-options="field:'ck',width:100,checkbox:true,align:'left'"></th>*@
                <th data-options="field:'Id',width:150,align:'center',formatter:vm.formatEditUser">操作</th>
            </tr>
        </thead>
        <thead>
            <tr bgcolor="#daeef5">
                <th data-options="field:'UserName',align:'center',width:100">账号</th>
                <th data-options="field:'CellPhone',width:100,formatter:vm.showMobile">手机号码</th>
                <th data-options="field:'IDNumber',align:'center',width:180,formatter:vm.showCardId">身份证号码</th>
                <th data-options="field:'RealName',width:80,align:'center',sortable:true">真实姓名</th>
                <th data-options="field:'UserState',width:80,sortable:true,align:'center',formatter:vm.showStatus">状态</th>
                <th data-options="field:'UserAddress',width:100,sortable:true,align:'center'">联系地址</th>
                <th data-options="field:'UserEmail',width:80,sortable:true,align:'center'">邮箱</th>
                <th data-options="field:'IsEnterprise',width:80,sortable:true,align:'center',formatter:vm.showType">类型</th>
                <th data-options="field:'UserType',width:80,align:'center',formatter:vm.showUserType">用户类型</th>
            </tr>
        </thead>
    </table>
</div>
<div id="SetPwd"></div>
<div id="regdlg" class="easyui-dialog" title="添加业务员"
     style="width:400px;height:370px;padding:10px"
     data-options="closed:true,iconCls:'icon-save',buttons:'#dlg-buttons'">
    <form id="addff" method="post">
        <table cellpadding="5">
            <tr>
                <td>账号:</td>
                <td><input class="easyui-textbox" validtype="maxLength[20]" type="text" id="userAccount" name="UserName" data-options="required:true"></input></td>
            </tr>
            <tr id="tr1">
                <td>登录密码:</td>
                <td><input class="easyui-textbox" validtype="maxLength[32]" type="password" id="userPwd" name="UserPassword" data-options="required:true"></input></td>
            </tr>
            <tr id="tr2">
                <td>确认密码:</td>
                <td><input class="easyui-textbox" validtype="equalTo['#userPwd']" type="password" id="reUserPwd" name="reUserPwd" data-options="required:true"></input></td>
            </tr>
            <tr>
                <td>手机号:</td>
                <td><input class="easyui-textbox" validtype="mobile" type="text" id="mobile" name="CellPhone" data-options="required:true"></input></td>
            </tr>
            <tr>
                <td>用户姓名:</td>
                <td><input class="easyui-textbox" validtype="maxLength[20]" id="realName" name="RealName" data-options="required:true"></input></td>
            </tr>
            <tr>
                <td>身份证号:</td>
                <td><input class="easyui-textbox" validtype="idcard" id="cardID" name="IDNumber" data-options="required:true"></input></td>
            </tr>
            <tr>
                <td>邮箱:</td>
                <td><input class="easyui-textbox" validtype='email' id="email" name="UserEmail" data-options="required:true"></input></td>
            </tr>
            <tr>
                <td>联系地址:</td>
                <td><input class="easyui-textbox" validtype="maxLength[100]" id="address" name="UserAddress" data-options="required:true"></input></td>
            </tr>
        </table>
        <input type="hidden" id="UserType" name="UserType" value="3" />
        <input type="hidden" id="ID" name="ID" value="-1" />
    </form>
</div>
<div id="dlg-buttons" style="text-align:center;">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="javascript:vm.addUser()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#regdlg').dialog('close')">关闭</a>
</div>
@section scripts{   
    <script src="/Scripts/common/extend.js"></script>
    <script src="/Scripts/common/ko.custombinding.js"></script>
    <script src="/Scripts/common/commonViewModel.js"></script>
    <script src="~/Scripts/Js/js_Validate.js"></script>
    <script src="~/Scripts/Js/js_formGetData.js"></script>
    <script type="text/javascript">
        var vm={
            d_grid:null,
            d_Sdate:null,
            d_Edate:null,
            d_SelState:null,
            d_dlg:null,
            model:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)),
            init:function(){
                try {
                    //初始化控件和数据
                    this.d_Sdate= $("#startdate");
                    this.d_Edate= $("#enddate");
                    this.d_grid= $('#dg');
                    this.d_dlg= $("#regdlg");
                    this.d_SelState=$("#selState");
                    this.d_grid.datagrid({
                        url:this.model.urls.search,
                        singleSelect: true,
                        autoRowHeight: true,
                        rownumbers: true,
                        //multiSort:true,
                        remoteSort:true,//--非本地排序
                        pagination: true,
                        pageSize: 10,
                        // pageList:[10,20,30,40,50],
                        toolbar: '#mainContent',
                        nowrap: false,
                        fit: true,
                        queryParams: ko.toJS(this.model.searchForm)
                    });
                } catch (e) {
                    alert(e.message);
                }
            },
            searchClick: function () {
                try {
                    var sdate=this.d_Sdate.datebox("getValue");
                    var edate=this.d_Edate.datebox("getValue");
                    var state= this.d_SelState.combobox("getValue");
                    var loginAccount=$("#loginAccount").textbox("getValue");
                    var realName=$("#realName").textbox("getValue");
                    var idNumber=$("#idNumber").textbox("getValue");
                    var userEmail=$("#userEmail").textbox("getValue");

                    this.model.searchForm.loginAccount=loginAccount;
                    this.model.searchForm.realName=realName;
                    this.model.searchForm.idNumber=idNumber;
                    this.model.searchForm.userEmail=userEmail;
                    this.model.searchForm.userState=state;
                    this.model.searchForm.startDate=sdate;
                    this.model.searchForm.endDate=edate;
                    vm.d_grid.datagrid('load', ko.toJS(this.model.searchForm));
                } catch (e) {
                    alert(e.message);
                }
            },
            showStatus:function(val,row,index)
            {
                return (val=="0"?'<b style="color:red;">禁用<b>':'<b style="color:green;">启用</b>');
            },
            showType:function(val,row,index)
            {
                return (val=="1"?'企业':'个人');
            },
            showUserType:function(val,row,index)
            {                
                return (val=="1"?'投资借贷人':(val=="2"?"管理员":"业务员"));
            },
            showCardId:function(val,row,index)
            {
                var _val='<b style="color:red;">'+val+'</b>';
                if(row.IDNumberIsAuthenticate==true)
                    _val='<b style="color:green;">'+val+'</b>';
                return _val;
            },
            showMobile:function(val,row,index)
            {
                var _val='<b style="color:red;">'+val+'</b>';
                if(row.CellPahoneIsAuthenticate==true)
                    _val='<b style="color:green;">'+val+'</b>';
                return _val;
            },
            formatEditUser:function(val,row,index)
            {
                // alert(JSON.stringify(row));
                //操作按钮的地方
                var html='';
                if(row.UserType!=2){
                    html+= '<a  href=javascript:vm.setInfo('+index+',"pwd"); >重置密码</a><br />';
                    var showData=(row.UserState==0?"启用":"禁用")
                    html+= '<a  href=javascript:vm.setInfo('+index+',"userstate"); >'+showData+'</a><br />';
                }
                html+= '<a  href=javascript:vm.showAddUsers('+index+'); >编辑</a><br />';
                return html;
            },
            showAddUsers:function(index)
            {
                try {

                    $("#addff").form('clear');
                    $("#UserType").val(3);
                    $("#ID").val(-1);
                    $("#tr1").show();
                    $("#tr2").show();
                    if(index!=null&&index>=0)
                    {
                        //alert(index);
                        this.d_grid.datagrid('selectRow',index);
                        var user=this.d_grid.datagrid('getSelected',index);
                        $("#addff").form('load',user);
                        this.d_dlg.dialog("setTitle","编辑业务员");
                        $("#userPwd").textbox("setValue",user.UserPassword);
                        $("#reUserPwd").textbox("setValue",user.UserPassword);
                        $("#tr1").hide();
                        $("#tr2").hide();
                    }
                    this.d_dlg.dialog("open");
                } catch (e) {
                    // alert(e.message);
                }
            },
            addUser:function()
            {
                try {
                    var isPass = $("#addff").form('validate');
                    if (isPass) {
                        var fdata=$("#addff").serialize();
                        //alert(JSON.stringify(fdata));
                        //return;
                        //显示遮罩
                        window.parent.showMask();
                        $.post(
                         vm.model.urls.add,
                         fdata,
                         function (data) {
                             try {
                                 data = JSON.parse(data);
                                 vm.d_grid.datagrid('load', ko.toJS(vm.model.searchForm));
                                 message=data.message;
                                 //隐藏遮罩
                                 window.parent.hideMask();
                                 window.parent.msgShow("提示",message,"info",function(){
                                 });
                             } catch (e) {
                                 alert(e.message);
                             }
                         });
                    }
                } catch (e) {
                    alert(e.message);
                }
            },
            setInfo:function(index,flag){
                try {
                    this.d_grid.datagrid('selectRow',index);
                    var user_row=this.d_grid.datagrid('getSelected',index);
                    user_row.flag=flag;
                    function setModel()
                    {
                        try {
                            //显示遮罩
                            window.parent.showMask();
                            $.post(
                             vm.model.urls.setInfo,
                             user_row,
                             function (data) {
                                 try {
                                     data = JSON.parse(data);
                                     vm.d_grid.datagrid('load', ko.toJS(vm.model.searchForm));
                                     message=data.message;
                                     //隐藏遮罩
                                     window.parent.hideMask();
                                     window.parent.msgShow("提示",message,"info",function(){
                                     });
                                 } catch (e) {
                                     alert(e.message);
                                 }
                             });
                        } catch (e) {
                            alert(e.message);
                        }
                    }
                    if(flag=="pwd"){
                        $.messager.confirm("确认","确认要重置该用户名"+user_row.UserName+"的登陆密码?",function(r){
                            if(r){
                                setModel(this.model);
                            }
                        });
                    }else  if(flag=="userstate")
                    {
                        $.messager.confirm("确认","确认要禁用或者启用该用户"+user_row.UserName+"?",function(r){
                            if(r){
                                setModel(this.model);
                            }
                        });
                    }
                } catch (e) {
                    alert(e.messages);
                }
            }
        };
        vm.init();
        ko.applyBindings(vm);
    </script>
}
